$navbar-default-bg:rgb(136, 188, 236);
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-size:1.7em;
}
#logo:hover{
    text-decoration: none;
    color:rgb(248, 241, 241)
}
.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('back_logo.jpg');
    background-size: cover;
    height:500px;
    // object-fit: cover;
}
.jumbotron h1{
    color: wheat;
}
footer{
    margin:40px 10px;
    padding-top:5px;
    border-top:1px solid wheat;
}

footer small{
    float:left;
    color: turquoise
}

footer ul{
    float: right;
    list-style-type: none;
}